
.inner-div-for-a-dynamic-input , .outer-div-for-a-dynamic-input{
  margin: 0;
  min-width: 50px;
  min-height: 16px;
  width: min-content;
  font-size: var(--font-size-input);
  /* color: transparent; */
  white-space: nowrap;  /* otherwise the div width would not match the input */
}

.inner-div-for-a-dynamic-input {
  border-radius: 5px;
  border-bottom: 2px solid black;
  padding-left: var(--pad-left);
  padding-right: var(--pad-right);

  min-height: calc(var(--font-size-input) + 4px);

  
  width: var(--width-big-images);
  white-space: pre-wrap;
}
.comment {
  font-size: 11px;
  font-style: italic;

  text-indent: 1em;
}
.tag {
  border : 0;
  border-radius: 4px;
  background: oklch(0.70 0.25 150 / .7);
  padding: 2px 20px 2px 5px;
}
.outer-div-for-a-dynamic-input{
  --pad-left : 2px;
  --pad-right : 2px;
  position: relative;
  flex-shrink: 0;
}

.input-dynamic {
  position: absolute;
  resize: none;
  overflow: hidden;
  max-width: var(--width-big-images);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  font-size: var(--font-size);
  color: transparent;
  caret-color: var(--caret-color);
  background-color: transparent;
  border: none;
  padding-left: var(--pad-left);
  padding-right: var(--pad-right);
}
.tag + .input-dynamic {
  
  padding: 2px 20px 2px 5px;
}